.task-manager {
    position: absolute;
    top: 1em;
    left: 1em;

    button {
        background-color: green;
        font-size: 1em;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 6px 10px;
        cursor: pointer;

        &:hover {
            background-color: #005500;
        }
    }

    @media (max-width: 540px) {
        left: unset;
        right: 1em;
    }
}